body
{
    background-color:#1C2833;
}

p{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* -- MAIN PAGE --*/
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 70vh;
    width: 60vw;
    border-radius: 30px;
    background-color: #F7F9F9;
}

.item_1
{
    padding: 2rem 1rem 2rem 1rem;
}

/* Children's => item_1 || CSS elements from item_1*/
#search_bar
{
    width: 12rem;
    height: 2rem;
    border-radius: 7px;
}

#search_button
{
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
}
/*End Formating children's item_1*/

.item_2
{
    padding: 1rem 1rem 1rem 1rem;
}

/* Children's => item_3 || CSS elements from item_3*/
#temperature
{
    margin: 0;
    font-size: 7rem;
}

#location
{
    margin: 0;
    font-size: 4rem;
}

/*End Formating children's item_1*/