/*Background & background picture*/
html,body{

    margin:0;
    padding: 0;
    height: 100vh;
}
.container
{
    background-image: linear-gradient(rgba(255 255 255 / 18%), rgba(0 0 0 / 80%)),
    url(/Images_source/UI_landscape_interface/landscape_Images_sources/Backgroung_cloody.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/*End - Background & background picture*/

/*Fonts*/
#App_name
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 75,
    "YTLC" 462;
    color: black;
    font-size: 1.5em; 
}
#location{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: black;
    font-size: 1em;
}
.menu
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 700,
    "YTLC" 500;
    color: black;
    font-size: 1em;    
}
/*Fonts*/


.top_bar_menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding : 1rem 3rem 1rem 3rem;
}

/*Start - top_right_corner_section */
.top_right_corner_section
{
    display: flex;
    align-items: baseline;
}
#icon_logo
{
    padding-left: 2rem;
    height: 1.5rem;
}
#location
{
    padding-left: 0.9rem;
}
#Choose_Celsius
{
    margin-left: 2rem;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
#Choose_Celsius:hover{
    font-weight: bold;
}
#Farhenheit
{
    background: none;
    border: none;
    border-left: solid 1px #000;
    outline: none;
    box-shadow: none;
}
#Farhenheit:hover{
    font-weight: bold;
    /*background-color: rgba(255 255 255 / 30%);*/
}
/*Stop - top_right_corner_section */

/*Start - top_left_corner_section*/
.top_left_corner_section
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.menu
{
    padding-left: 7em;
}

#Choose_FR
{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
#Choose_ENG
{
    background: none;
    border: none;
    border-left: solid 1px #000;
    outline: none;
    box-shadow: none;
}
/*End - top_left_corner_section*/

/* Start - daily_weather_data */
.daily_weather_data
{
    display: flex;
    
}